.outer__ring{
    margin: 20% 35% 0% 35%;
    border-radius: 100px;
    border: 2px solid lightgrey;
}

.header {
    text-align: center;
}

.table {
    margin-bottom: 50px;
    padding-left: 22%;
}

.login-btn {
    margin-left: 40px;
}
