.log__page {
    
}

.log__header {
    width: 100%;
    height: 14vh;
    border-bottom: 1px solid grey;
    margin-top: -1px;
}

.log__table-container {
    width: 60%;
    float: left;
    height: 86vh;
    overflow: auto;
}

.log__table-container-no-alarms {
    position: relative;
    width: 100%;
    margin: 0;
}

.log__table-container-no-alarms > h1 {
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
}

.log__details {
    width: 40%;
    float: right;
    height: 86vh;
    background-color: #f2f2f2;
    border-left: 1px solid #d1d1d1;
    margin-left: -1px;
    overflow: auto;
}